@using Data.Models;
@{
    User uLogin = new User();
    string hasLogin = "";
    string hasLogout = "hide";
    @if(User.Identity != null && User.Identity.IsAuthenticated)
    {
        uLogin.Uid = User.Claims.First().Value;
        uLogin.Username = User.Claims.Last().Value;
        hasLogin = "hide";
        hasLogout = "";
    }
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="TNKBang">
    <title>@ViewData["Title"] - Website</title>
    <link href="~/css/fonts.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/toastr.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar_header">
            <div class="img">
                <img class="user-image" src="https://haycafe.vn/wp-content/uploads/2021/12/Anh-anime-cute-1.jpg" alt="">
            </div>
            <div>
                <h3 class="user-username">@Html.Raw(uLogin.Username ?? "ABC 123")</h3>
                <small class="user-email">abc123@gmail.com</small>
            </div>
        </div>
        <div class="search-box">
            <input type="text" id="inpSearch" class="search" />
        </div>
        <ul class="menu">
            <li>
                <a href=""><span class="material-icons">home</span> <p>Home</p></a>
            </li>
            <li>
                <a href=""><span class="material-icons">person</span> <p>My Profile</p></a>
            </li>
            <li>
                <a href=""><span class="material-icons">chat</span> <p>Message</p></a>
            </li>
            <li>
                <a href="#" class="drop-down"><span class="material-icons">web</span> <p>Projects</p> <span class="material-icons carrot">expand_more</span> </a>
                <ul class="dropdown">
                    <li><a href="">Solo Dating</a></li>
                    <li><a href="">Solo Market</a></li>
                    <li><a href="">Solo Video</a></li>
                    <li><a href="">Solo Yoga</a></li>
                </ul>
            </li>
            <li>
                <a class="contact" href="javascript:void(0)"><span class="material-icons">group_add</span> <p>Contact Us</p></a>
            </li>
            <li>
                <a class="view-info" href="javascript:void(0)"><span class="material-icons">info</span> <p>Thông tin</p></a>
            </li>
            <li>
                <a class="btn-logout text-danger @hasLogout" href="javascript:void(0)"><span class="material-icons">logout</span> <p>Đăng xuất</p></a>
            </li>
        </ul>
    </aside>
    <div class="overlay"></div>
    <main class="main">
        <div class="header">
            <div class="nav-toggler">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <button class="btn-login glow-on-hover @hasLogin" type="button">Đăng nhập</button>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="action-btn-group">
            <button class="btn-1"><span class="material-icons">favorite</span></button>
            <button class="btn-2"><span class="material-icons">web</span></button>
            <button class="btn-3"><span class="material-icons">visibility</span></button>

            <button class="action-btn"><span class="material-icons">edit</span></button>
        </div>
    </main>
    <!-- loading animation -->
    <div class="task-runner">
        <div class="lds-dual-ring"></div>
    </div>
    <!-- form login and register-->
    <div class="login-register" title="Tham gia hệ thống">
        <ul class="mb-1">
            <li><a href="#tabs-login">Đăng nhập</a></li>
            <li><a href="#tabs-register">Đăng ký</a></li>
        </ul>
        <div id="tabs-login">
            <form>
                <div class="mb-3 floating-label">
                    <input id="loginUsername" required type="text" maxlength="20" class="form-control" placeholder="Nhập tên người dùng..." />
                    <label for="loginUsername">Username</label>
                    <div id="ckcLoginUsername" class="valid-feedback">Kiểm tra thông tin</div>
                </div>
                <div class="mb-3 floating-label input-group">
                    <input id="loginPassword" required type="password" maxlength="20" class="form-control" placeholder="Nhập mật khẩu..." />
                    <label for="loginPassword">Password</label>
                    <span class="input-group-text view-pass material-icons">visibility</span>
                    <div id="ckcLoginPassword" class="valid-feedback">Kiểm tra thông tin</div>
                </div>
                <button type="submit" id="loginSubmit" class="btn btn-outline-primary float-end mb-3">Đăng nhập</button>
            </form>
        </div>
        <div id="tabs-register">
            <form>
                <div class="mb-3 floating-label">
                    <input id="registerUsername" required type="text" maxlength="20" class="form-control" placeholder="Nhập tên người dùng..." />
                    <label for="registerUsername">Username</label>
                    <div id="ckcRegisterUsername" class="valid-feedback">Kiểm tra thông tin</div>
                </div>
                <div class="mb-3 floating-label input-group">
                    <input id="registerPassword" required type="password" maxlength="20" class="form-control" placeholder="Nhập mật khẩu..." />
                    <label for="registerPassword">Password</label>
                    <span class="input-group-text view-pass material-icons">visibility</span>
                    <div id="ckcRegisterPassword" class="valid-feedback">Kiểm tra thông tin</div>
                </div>
                <div class="mb-3 floating-label input-group">
                    <input id="registerRePassword" required type="password" maxlength="20" class="form-control" placeholder="Nhập lại mật khẩu..." />
                    <label for="registerRePassword">Password</label>
                    <span class="input-group-text view-pass material-icons">visibility</span>
                    <div id="ckcRegisterRePassword" class="valid-feedback">Kiểm tra thông tin</div>
                </div>
                <button type="submit" id="registerSubmit" class="btn btn-outline-success float-end mb-3">Đăng ký</button>
            </form>
        </div>
    </div>
    
    <!-- script -->
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/toastr.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/js/typed.min.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>